/* NAVIGATION */

#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 5px;
}

#admin{
    margin: auto;
    position: relative;
    padding: 3px;
    justify-content: center;
    font-weight: bolder;
}
#admin:hover{
    color: whitesmoke;
    background-color: black;
    border: 2px solid whitesmoke;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1s;
}
#entercod{
    margin: auto;
}

/* CODERG */
#coderg{
    height: 250px;
    padding: 10px 43px; 
}
#coderg::before{
    height: 350px;
    padding-bottom: 9px;
}
#coderg p{
    font-size: 1rem;
}
#horl{
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
}

/* PROJECTS */
#projects{
    flex-direction: column;
}
.pro-details{
    font-size: small;
}
/* ABOUT */

.pro-pic img{
    height: 4rem;
    width: 4rem;
}

/* BLOGS AND POST */




#about .about-cantainer {
    height: auto;
    font-size: smaller;
}

/* CONTACT */

.small{
    font-size: 1.2rem;
}



/* PRE-FOOTERT */





/* FOOTER */

footer{
    font-size: .70rem;
}

#des-man{
    font-size: .85rem;
}

/* UTILITY CLASS */

.h-primary{
    font-size: 1.5rem;
}


