/* NAVIGATION */

#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: .75rem;
    padding: 4px 3px;
    margin: -2px;
}

#entercod{
    margin: auto;
}

#admin{
    position: relative;
    margin: auto;
    justify-content: center;
    padding: 2px;
    border: 2px solid rgb(159, 111, 235);
    font-weight: normal;
    font-size: unset;
}
#admin:hover{
    color: whitesmoke;
    background-color: black;
    border: 2px solid whitesmoke;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1s;
}

/* CODERG */
#coderg{
    height: 250px;
    padding: 10px 43px;
}
#coderg h1{
    margin-top: 1.2rem;
}
#coderg::before{
    height: 350px;
}
#coderg p{
    font-size: 1rem;
}
#horl{
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
}

/* PROJECTS */
#projects{
    flex-direction: column;
}
#projects .box p{
    font-size: small;
}
.pro-details{
    font-size: 0.8rem;
}

/* ABOUT */

.pro-pic img{
    height: 3.5rem;
    width: 3.5rem;
}

.founders{
    flex-direction: column;
    justify-content: center;
    padding: inherit;
    width: auto;
    margin: auto;
}


#about .about-cantainer {
    width: 80%;
    height: auto;
    font-size: smaller;
    /* width: min-content; */
}

/* CONTACT US */

.small{
    font-size: .8rem;
}
    
#version{
    font-size: 1rem;
}

#cont{
    font-size: 1.5rem;
    bottom: .75rem;
}


/* FOOTER */

footer {
    font-size: .5rem;
}
#des-man{
    font-size: 1rem;    
}
#time{
    margin-right: -8rem;
}



/* UTILITY CLASS */

.h-primary{
    font-size: 1rem;
}

#connect{
    font-size: 1rem;
    padding-left: 4.5rem;
}

.icon-box{
    width: 60%;
    height: 2rem;
    padding-right: 2rem;
}

