{% extends "layout.html" %}
{% block head %}


<link rel="stylesheet" href="index.html">
<link rel="stylesheet" href="Projects.html">
<link rel="stylesheet" href="Blog.html">
<link rel="stylesheet" href="Contact.html">
<title>About</title>
<style>
    body {
        background-color: black;
    }
</style>
</head>

<body>

    {% endblock %}

    <!-- NAVBAR -->

    {% block body %}

    <!-- About text can be changed in config.json -->
   
   <!-- 
   <div id="about">
        {% for no, text in params['about_text'].items() %}
        <div class="about-container">
            <p>{{text}}</p>
        </div>
        {% endfor %}
    </div>
    -->
    
    
    <div id="about">
        <div class="about-container">
            <p>"We at CODERG try to explore the different dimensions of this coding world by reaching more number of peoples from the different colleges of our country sharing their skills with all of us."</p>
            <p>"I would like to thank AQDAS,The Chief developer of CODERG and my dearest friend for his support and his always helping gesture."</p>
        </div>
    </div>

    {% endblock %}
