{% extends "layout.html" %}
{% block head %}

<title>About</title>
<style>
    body {
        background-color: black;
    }
</style>
</head>

<body>

    {% endblock %}

    <!-- NAVBAR -->

    {% block body %}


    <div id="about">
        <!-- {% for key, value in params['about_text'].items() %} -->
        <h1 class="h-primary">Team codergdevelopers</h1>
        <div class="about-container">
            <div class="founders">
                <img src="\" alt="profile picture">
                <h3>Deepansh Dubey</h3>
                <h4>Pursuing B-Tech (Computer Science & Engineering)</h4>
                <h4>Founder at "codergdevelopers"</h4>
                
            </div>
            <div class="founders">
                <img src="\" alt="profile picture">
                <h3>Aqdas Ahmad Khan</h3>
                <h4>Pursuing B.Sc(Hons) in Computer Applications</h4>
                <h4>Founder at "codergdevelopers"</h4>
                
            </div>
        </div>
        {% endfor %}
    </div>


    {% endblock %}
