{% extends "layout.html" %}
{% block head %}

<title>Blogs</title>
<style>
    body {
        background-color: white;
    }
</style>
</head>

<body>

    {% endblock %}

    <!-- NAVBAR -->


    {% block body %}

    <div class="post">

        <div style="padding-bottom: 5rem;">
            <h1 class="h-primary-head">Blogs</h1>
            <hr style="width: 95%; margin: auto;">
        </div>


    </div>

    <hr style="width: 20%; margin: auto; margin-bottom: 2rem;">


    <!-- Main Content -->

    <div class="post-box">
        {% for post in posts %}
        <div class="post-preview">
            <a id="post-link" href="/post/{{post.slug}}">
                <h2 class="post-title">
                    {{post.title}}
                </h2>
            </a>
            <h3 class="post-subtitle">
                {{post.tagline}}
            </h3>
            <p class="post-meta">Posted by
                <a id="fullname" href="#">{{post.fullname}}</a>
                on {{post.date}}</p>
            <div class="post-start">
                {{post.content[0:50]}}...
            </div>
        </div>
        <hr>
        {% endfor %}




        <!-- Pager -->
        <div class="navigate">
            {% if prev!='#' %}
            <a id="left" href="{{prev}}">&larr; Previous</a>
            {% endif %}
            {% if next!='#' %}
            <a id="right" href="{{next}}">Next &rarr;</a>
            {% endif %}
        </div>
    </div>





    &nbsp;

    {% endblock %}