<head>
    <link rel="stylesheet" href="/flask_qa/static/css/style.css">
    <link rel="stylesheet" href="/flask_qa/static/css/smallphone.css">
    <style>
        body {
            background-color: black;
        }
    </style>
</head>

<div id="about" class="whtsmk small">
    <h1 class="h-primary centre">FOUNDERS</h1>
    <hr style="width: 90%; margin: auto;">
    <div class="about-container ">
        <div class="founders">

            <div id="deep">
                <div class="pro-pic"><img src="/flask_qa/static/img/deepansh.png" 
                        alt="profile picture"></div>
                <h3>Deepansh Dubey</h3>
                <h4>Pursuing B-Tech (Computer Science & Engineering)</h4>
            </div>

            &nbsp;

            <div id="aqua">
                <div class="pro-pic"><img src="/flask_qa/static/img/aqdas.png" 
                        alt="profile picture"></div>
                <h3>Aqdas Ahmad Khan</h3>
                <h4>Pursuing B.Sc(Hons) in Computer Applications</h4>
            </div>
        </div>
    </div>
</div>