&nbsp;


<head>
    <link rel="stylesheet" href="/flask_qa/static/css/stylesh20.css">

    <style>
        body{
            background-color: black;
        }
    </style>
</head>

&nbsp;

<!-- <div class="pre-footer">
    
    <p><a id="cont" href="/contact">Contact Us</a></p>
</div> -->

&nbsp;


<footer>

    <div class="left">Copyright &copy CODERG.2020 | <span id="time"> </span></div>


    <div id="updateinfo">Last updated on: July 23,2020. | <span><p id="version">v 3.0.0</p></span> </div>

    <div id="des-man">
        <p class="comp">| Designed and Managed by: <a href="/about"
                style="text-decoration: none; color: rgb(247, 217, 85); ">codergdevelopers. </a>|</p>
    </div>
</footer>
<script>
    function currenttime() {
        time = new Date();
        console.log(time);
        document.getElementById('time').innerHTML = time;
    }

    setInterval(currenttime, 1000);

</script>


