{% extends "layout.html" %}
{% block head %}

   
    <title>Contact Us</title>
    <style>
        body{
            background-color: black;
        }
        
    </style>
</head>
<body>

{% endblock %}

    <!-- NAVBAR -->

    
{% block body %}

<div class="contact">
    <div class="contact-container">
        <h1 class="h-primary">Email At: </h1>
        <div class="centre"></div>
        <p class="small"> Team : </p> <a href="mailto:deepansh.dubey20@gmail.com" style="text-decoration: none;"><p class="small">codergdevelopers@gmail.com</p></a>

        &nbsp;

        <h1 class="h-primary">Contact Admins At : </h1>
        
        <a href="mailto:deepansh.dubey20@gmail.com" style="text-decoration: none;"><p class="small">deepansh.dubey20@gmail.com</p></a>
        <p class="small">OR</p>
        <a href="mailto:aqdasak@gmail.com" style="text-decoration: none;"><p class="small">aqdasak@gmail.com</p></a>
    </div>
</div>
{% endblock %}
