{% extends "layout.html" %}
{% block head %}

   
    <link rel="stylesheet" href="index.html">
    <link rel="stylesheet" href="Projects.html">
    <link rel="stylesheet" href="About.html">
    <title>Contact Us</title>
    <style>
        body{
            background-color: black;
        }
        
    </style>
</head>
<body>

{% endblock %}

    <!-- NAVBAR -->

    
{% block body %}

<div class="contact">
    <div class="contact-container">
        <h1 class="h-primary">Email At : </h1>
        <p class="small">deepansh.dubey20@gmail.com</p>
        <p class="small">OR</p>
        <p class="small">aqdasak@gmail.com</p>
    </div>
</div>
{% endblock %}