{% extends "layout.html" %}
{% block body %}

<head>
    <style>
        body {
            background-color: black;
        }
    </style>
</head>


<div class="h-primary centre">
    <h1>Editor</h1>
    <hr style="width: 30%;">
</div>

<!-- Main Content -->
<div class="py whtsmk">
    <h1 class="h-primary">Basic actions</h1>

    <a href="/dashboard" style="text-decoration: none;"><button class="admin">Dashboard home</button></a>
    <a href="/logout" style="text-decoration: none;"><button class="admin">Logout</button></a>

    <!-- Flash message -->
    {% with messages=get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category,message in messages %}
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <hr>
    <div class="form-ed">
        <form name="sentMessage" id="" action="/edit/{{sno}}" method="post" novalidate>

            <label>Title</label>
            <input type="text" class="" placeholder="Title" id="" name="title" value="{{post.title}}" required
                data-validation-required-message="Please enter a title.">
            <p class=""></p>

            <label>Tagline</label>
            <input type="text" class="" placeholder="Tagline" id="" name="tline" value="{{post.tagline}}" required
                data-validation-required-message="Please enter your email address.">
            <p class="help-block text-danger"></p>


            <label>Slug</label>
            <input type="text" class="" placeholder="Slug" id="" name="slug" value="{{post.slug}}" required
                data-validation-required-message="Please enter slug.">
            <p class=""></p>


            <label >Content</label>
            <textarea rows="5" class="" placeholder="Content" id="" name="content" required
                data-validation-required-message="Please enter a message.">{{post.content}}</textarea>
            <p class="help-block text-danger"></p>


            <label>Image File</label>
            <input type="text" class="" placeholder="Image File" id="" name="img_file" value="{{post.img_file}}">
            <p class="help-block text-danger"></p>

            <br>
            <div id="success"></div>
            <div class="">
                <button type="submit" class="admin" id="">Submit</button>
            </div>
        </form>
    </div>


</div>
</div>
</div>
{% endblock %}