<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" media="screen and (max-width:1100px)" href="{{url_for('static',filename='css/phone.css')}}">
    <link rel="stylesheet" media="screen and (max-width:480px)" href="{{url_for('static',filename='css/smallphone.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@700&family=Open+Sans&display=swap" rel="stylesheet">

    


{% block head %}{% endblock %}

    &nbsp;
    <nav id="navbar">
        <ul>
            <li class="item" id="prime"><a href="/">CODERG</a></li>
            <li class="item"><a href="/projects" >Projects</a></li>
            <li class="item" id="blog"><a href="/blog" >Blogs</a></li>
            <li class="item"><a href="/about" >About</a></li>
            <li><a class="admin" id="entercod" href="/dashboard">Log In</a></li>   
        </ul>
        
    </nav>


{% block body %}{% endblock %}

<!-- Footer -->

&nbsp;

<div class="pre-footer">
    <p id="version">v 3.0.0</p>
      <p><a id="cont" href="/contact" >Contact Us</a></p> 
</div>
    <footer>
        
        <p class="left">Copyright &copy CODERG.2020 | <span   id="time"> </span></p>
        <p class="right">Site Designed and Managed by: <a href="/about" style="text-decoration: none; color: rgb(247, 217, 85); ">codergdevelopers.</a> <span id="updateinfo">| Last updated on: July 21,2020.</span></p>
    </footer>
    <script>
        function currenttime()
            {
                time = new Date();
                console.log(time);
                document.getElementById('time').innerHTML = time;
            }

            setInterval(currenttime, 1000);
        
    </script>
</body>

</html>