<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/stylesh11.css')}}">
    <link rel="stylesheet" media="screen and (min-width: 481px) and (max-width:1100px)" href="{{url_for('static',filename='css/phone7.css')}}">
    <link rel="stylesheet" media="screen and  (max-width:480px)"
        href="{{url_for('static',filename='css/smallphone7.css')}}">

    

<link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename='favicon_io/apple-touch-icon.png')}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static',filename='favicon_io/favicon-32x32.png')}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static',filename='favicon_io/favicon-16x16.png')}}">
<link rel="manifest" href="{{url_for('static',filename='favicon_io/site.webmanifest')}}">




        <Style>
            body{
                background-color: black;
            }
        </Style>




    {% block head %}{% endblock %}

    &nbsp;
    <nav id="navbar">
        <ul>
            <li class="item" id="prime"><a href="/">CODERG</a></li>
            <li class="item"><a href="/projects">Projects</a></li>
            <li class="item" id="blog"><a href="/blog">Blogs</a></li>
            <li class="item"><a href="/about">About</a></li>
            {% if 'user' in session %}
            <li><a class="admin" id="entercod" style="border-color: green;" href="/dashboard">{{session['user']}}</a></li>
            {% else %}
            <li><a class="admin" id="entercod" href="/dashboard">Log In</a></li>
            {% endif %}
        </ul>

    </nav>


    {% block body %}{% endblock %}

    <!-- Footer -->

    &nbsp;
    &nbsp;

    <div class="pre-footer">
         <p id="version">v 3.0.0</p>
        <p><a id="cont" href="/contact">Contact Us</a></p>
    </div>

    &nbsp;


    <footer>
        
        <div class="left">Copyright &copy CODERG.2020 | <span   id="time"> </span></div>

        
        <div id="updateinfo">Last updated on: July 23,2020. |</div>
        
        <div id="des-man">
            <p class="comp">| Designed and Managed by: <a href="/about" style="text-decoration: none; color: rgb(247, 217, 85); ">codergdevelopers. |</a></p>
        </div>
    </footer>
    <script>
        function currenttime() {
            time = new Date();
            console.log(time);
            document.getElementById('time').innerHTML = time;
        }

        setInterval(currenttime, 1000);

    </script>
    </body>

</html>