{% extends "layout.html" %}
{% block body %}

<head>
  <style>
    body {
      background-color: white;
    }
  </style>
</head>

<!-- Page Header -->




<div class="post">

  <div style="padding-bottom: 5rem;">
    <h1 class="h-primary">Happy Reading :)</h1>
    <hr style="width: 95%; margin: auto;">
  </div>



</div>

<hr style="width: 20%; margin: auto; margin-bottom: 2rem;">




<!-- Post Content -->
<article>
  <div class="post-box">

    <div class="post-info">
      <h1 style="font-size: 1.5rem;">{{post.title}}</h1>
      <h2 style="font-size: 1rem;">{{post.tagline}}</h2>
    </div>

    <hr>


    <div class="post-box-content">
      {{post.content}}
    </div>

    <hr>

    <div style="font-size: .7rem; float: right;">
      <span>Posted by
        <a href="#" style="text-decoration: none; color: burlywood;">{{post.username}}</a>
        on {{post.date}}</span>
    </div>

  </div>
</article>

{% endblock %}