{% extends "layout.html" %}
{% block body %}

<head>
  <style>
    body {
      background-color: white;
    }
  </style>
</head>

<!-- Page Header -->


1

<div class="post">

  <div style="padding-bottom: 5rem;">
    <h1 class="h-primary" >Happy Reading :)</h1>
    <hr style="width: 70%; margin: auto;">
  </div>



</div>

<hr style="width: 30%; margin: auto;">




<!-- Post Content -->
<article>
  <div class="post-box">

    <div class="post-info">
      <h1>{{post.title}}</h1>
      <div class="">
        <h2 class="">{{post.tagline}}</h2>
        <span class="">Posted by
          <a href="#">{{post.username}}</a>
          on {{post.date}}</span>
      </div>
    </div>
    <div class="">
      <div class="post-box-content">
        {{post.content}}
      </div>
    </div>
  </div>
</article>

{% endblock %}