{% extends "layout.html" %}
{% block body %}

<head>
  <style>
    body{
      background-color: blanchedalmond;
    }
  </style>
</head>

<!-- Page Header -->


  

      <div class="py">
        <div class="post-heading">
          <h1>{{post.title}}</h1>
          <h2 class="subheading">{{post.tagline}}</h2>
          <span class="meta">Posted by
            <a href="#">{{post.username}}</a>
            on {{post.date}}</span>
        </div>
      </div>


<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{post.content}}
      </div>
    </div>
  </div>
</article>

{% endblock %}